
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Online Food Order</a>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="about">About</a>
    </li>
  </ul>
  <ul class="navbar-nav" *ngFor="let cat of category">
    <li class="nav-item">
      <a class="nav-link" (click)="onFood(cat.categoryname)">{{cat.categoryname}}</a>
    </li>
  </ul>

    
   <ul class="navbar-nav">
    <li class="nav-item">
      <button class="btn btn-success" style="margin:10px;" (click)="onclick()">LOG IN/SignUp</button>
    </li>
    
  </ul>
</nav>
<router-outlet></router-outlet>
